body {

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.restart{

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: inline-block;

}

.FCount{

    color: red;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.PCount {

    color: blue;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}