body {

    font-family: Arial, Helvetica, sans-serif;

}


h1 {
    color: pink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px solid darkviolet;
    
  }

h2{

    font-size: 1.5em;
    text-decoration: underline;
}

.job{

    color: grey;
    font-weight: bold;


}
    
